<div class="py-5 text-center" style="	background-image: linear-gradient(to bottom, rgba(189, 195, 199, .25), rgba(44, 62, 80, .25));	background-size: 100%;	background-position: top left;	background-repeat: repeat;	min-height: 700px;">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-6">
                <h1>@TempData["errorMessage"]</h1>
               
            </div>
        </div>
    </div>
</div>