<div class="py-5" style="background-image: url('background.svg'); background-position:left center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-6">
                <h1>Welcome to BookCoOp</h1>
                <p class="mb-3">We help local communities build crowd-sourced libraries. Easily share and borrow books from members of your local community.&nbsp;</p>
                @*<p><a asp-area="Identity" asp-page="/Account/Register">Register now</a></p>*@
            </div>
        </div>
    </div>
</div>