@model User

<form method="post">
    <label>Profile Image: </label>
    <input type="text" name="ProfileImage" value="@Model.ProfileImage" />
    <br />
    <label>Location: </label>
    <input type="text" name="UserLocation" value="@Model.UserLocation" />
    <br />
    <br />
    <input type="submit" value="Update" />
</form> 