@model List<User> 
@{ 
    string lat = TempData["lat"].ToString();
    string lng = TempData["lng"].ToString();
    double latt = double.Parse(lat);
    double lngg = double.Parse(lng);
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@Secret.GoogleAPIKey" async defer></script>

    <script type="text/javascript">
        function GetMap()
        {
            //Set the Latitude and Longitude of the Map
            var myAddress = new google.maps.LatLng(@latt,@lngg);

            //Create Options or set different Characteristics of Google Map
            var mapOptions =
            {
                center: myAddress,
                zoom: 11,
                minZoom: 11,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //Display the Google map in the div control with the defined Options
            var map = new google.maps.Map(document.getElementById("myMap"), mapOptions);



            var localAddress;
            var userName;
            // create markers for each local
            @foreach(User local in Model)
            {
                latt = double.Parse(local.Latitude);
                lngg = double.Parse(local.Longitude);
                @: localAddress = new google.maps.LatLng(@latt,@lngg);
                @: marker = new google.maps.Marker({ position: localAddress, map: map,});
                @: google.maps.event.addListener(marker,'dblclick',function() { window.location.href="@Url.Action("LocalLibraries", "Home")";});
            }

            //Set Marker on the Map
            var marker = new google.maps.Marker({
                position: myAddress,
                animation: google.maps.Animation.BOUNCE,
                map: map,
            });

        }
    </script>
</head>
<body onLoad="GetMap()">
    <div id="myMap" style='position:relative;width:600px;height:400px;'></div>
</body>
</html>

