/* C U S T O M BooCoOp
-------------------------------------------------- */

.single-book-image {
    margin: 0 auto;
    float: inherit;
}

@media (min-width: 768px) {
    .single-book-image {
        float: right;
    }
}


